/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */

 //overriding bootstrap font
 $font-family-sans-serif: 'Open Sans', sans-serif;
 $font-family-serif: 'Merriweather', serif;
 $btn-border-radius-base: 2px;
 $btn-border-radius-large: 2px;
 $btn-border-radius-small: 2px;
 $brand-primary:             #0275d8 !default;
 $brand-success:             #5cb85c !default;
 $brand-info:                #5bc0de !default;
 $brand-warning:             #f0ad4e !default;
 $brand-danger:              #d9534f !default;
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "custom";

 @import "card"
