$font-serif: 'Merriweather', serif;
$font-sans: 'Work Sans', sans-serif;
$font-black: #2d3238;
$font-grey: #6C6F73;
$font-light-grey: #bec8ce;
$red: #D32F2F;
$red-dark: #C12E1E;
$red-light: #E04E3E;
$grey: #bbb;
$grey-light: #FAFAFA;
$grey-dark: #888;
$font-sizeaggree: 17px;
h1, h2, h3, h4, h5, h6 {
  // font-family: $font-display;
  // font-weight: 700;
  // color: $font-black;
  // text-rendering: optimizelegibility;
}

p, div {
  // font-family: $font-body;
  // font-size: 16px;
  // font-weight: 300;
  // letter-spacing: -0.02em;
  // line-height: 1.6;
  // color: $font-grey;
}

// a {
//   color: $red;
// }
//
// a:hover {
//   color: $red-dark;
// }

html {
  position: relative;
  min-height: 100%;
}

body{
  background-color: #F8F8F8;
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}


.navbar-custom {
  background-color: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: -10px;

  .navbar-brand {
    padding-top: 10px;
    // padding-bottom: 20px;
    img { height: 50px; }
  }
  .navbar-nav {
    li {
      a {
        padding-top: 25px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 3px solid #fff;
        transition: border-color .3s ease;
      }
      a:hover {
        border-color: $red;
      }
    }
  }
}

.hero-banner {
  text-align: center;
  background-color: #fff;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 50px;

  h1 {
    font-weight: 300;
    font-size: 42px;
    line-height: 1.6;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }
}
.heroimg{
  text-align: center;
  opacity: 1;
}

.section-title {
  padding: 30px 0;
}
.btn-line {
  border: 2px solid $red;
  background-color: #fff;
  color: $red;
  border-radius: 5px;
}

.btn-red {
  background-color: $red;
  border-color: $red;
  color: #fff;
  transition: background-color .3s ease;

  &:hover, &:focus {
    background-color: $red-light;
    border-color: $red-light;
  }

  &:visited {
    color: #fff;
  }
}

.panelarea {
  padding: 20px 20px 30px 20px;
}
.panel{
  width : 350px;
  padding-right: 2px;  padding-left: 2px;
  border: 0px;
}

.panel-thumbnail{
    width : 350px;
    height : 300px;;

}
.panel-body {
p{
  text-align: left;
  font-weight: 200;
}
h4{
  text-align: left;
  font-weight: 700;
  margin-bottom: 20px;
}
}

.agreebtn{
  font-size: $font-sizeaggree;
  padding-right: 20px;
}
.disagreebtn{
  font-size: $font-sizeaggree;
  padding-left: 20px;
}
.votesize{
  font-size: 20px;
  padding-right: 20px;
}
.agdisag{
  padding-right: 70px;
  padding-left: 10px;
}


.smallpadding {
  padding: 4px;
  height: 40px;
}
.formcustom{
  width: 780px;
  padding-left: 80px;
  padding-right: 80px;
}
.nextbtn{
float: right;
}
.trix-editor{
   min-height: 250px;
}

.post {
  background-color: #fff;
  .post-header {

    padding-top: 10px;
    padding-bottom: 50px;

    .post-title {
      font-weight: 500;
      line-height: 1.2;
      color: $font-black;
      letter-spacing: -0.02em;
      font-size: 3em;
    }
    .post-header-meta {
      letter-spacing: .15em;
      color: $font-light-grey;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.2;
    }
  }
  .post-body {
    .post-text {
      padding: 20px 0;
      font-size: 19px;
      font-weight: 300;
      line-height: 1.6;
      letter-spacing: -0.02em;
      color: $font-grey;
    }
    .post-mps {
      // padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
    }
    .section-head { margin: 30px 0; }

    .post-stats {
      .supporters {
        padding: 20px;
        .number {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 2.5em;
        }
        span {
          font-size: 85%;
          letter-spacing: .15em;
          color: #a9aebd;
          text-transform: uppercase;
        }
      }
      .vote {
        display: flex;
        i { padding-right: 5px; }
        .btn { margin-right: 10px; }
      }
    }
  }
}

.profile-card {
  margin-right: 20px;
  .profile-pic {
    display: table-cell;
    vertical-align: middle;
  }
  .profile-text {
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
    span {
      color: $font-light-grey;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.2;
    }
  }
}

.img-profile-s {
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.img-profile-m {
  width: 48px;
  margin-left: 10px;
  margin-right: 10px;
}

.site-notice {
  padding: 15px 20px;
  text-align: center;
  background-color: $red-light;
  color: #fff;
  font-weight: 300;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
  p { margin-top: 10px; }
}

.new-post {
  padding-top: 30px;
  padding-bottom: 30px;
}
